.img-td {
    width: 30px;
    height: 30px;
    display: flex;
    padding: 0 !important;
    border: none !important;
}

.img-td > img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.img-th {
    background-color: transparent !important;
    border: none !important;
}