:root {
  --color-area-black: #000000;
  --color-area-grey: #36393f;
  --color-background: #202225;
  --color-details-red: #cc2e2e;
  --color-details-white: #dddddd;
}

body {
  margin: 0;
  background-color: var(--color-background);
  font-family: Arial, sans-serif;
  font-size: 16px;
}

:focus {
  outline: none;
}

.menu-button {
  height: 24px;
  margin: 1px;

  background-color: var(--color-area-black);
  color: var(--color-details-white);
  border: none;
  border-radius: 10px;
  cursor: pointer;

  font-size: 16px;
}

.menu-button:hover {
  background-color: var(--color-details-red);
}

.menu-button:disabled {
  background-color: transparent;
  cursor: default;
}
/* SCROLLBAR */

body::-webkit-scrollbar, .body-dark::-webkit-scrollbar {
  background-color: var(--color-background);
}

body::-webkit-scrollbar-track, .body-dark::-webkit-scrollbar-track {
  background-color: var(--color-background);
}

body::-webkit-scrollbar-thumb, .body-dark::-webkit-scrollbar-thumb {
  background-color: var(--color-area-grey);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px var(--color-background);
}

body::-webkit-scrollbar-thumb:hover, .body-dark::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-details-red);
  border-radius: 10px;
}

body::-webkit-scrollbar-corner, .body-dark::-webkit-scrollbar-corner {
  background-color: var(--color-area-grey);
}