main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main > header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

main > header > div {
    display: inline-flex;
    flex-direction: column;
}

main > header > div > .menu-button {
    margin-left: -5px;
    width: 62px;
    font-size: 12px;
}

.online-point {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin: 5px 0 12px 0;
}

.online-point.online {
    background-color: green;
}

.online-point.offline {
    background-color: red;
}

.online-point > span {
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: 100%;

    background-color: var(--color-area-grey);
    color: var(--color-details-white);
    padding: 2px 5px;
    border-radius: 6px;
}

.online-point:hover > span {
    visibility: visible;
}