.stats-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TABLE */

.stats-page table {
  table-layout: auto;
  text-align: center;

  padding: 5px;
  border-radius: 20px;
  background-color: var(--color-area-grey);
}

.stats-page table th:not(:last-child):not(:first-child) {
  padding: 2px 8px;
  height: 24px;
  border-radius: 10px;

  background-color: var(--color-area-black);
  color: var(--color-details-red);
}

.stats-page table td:not(:last-child) {
  padding: 2px 8px;
  height: 24px;

  border: 1px solid var(--color-area-black);
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--color-area-grey);
  color: var(--color-details-white);
}

.stats-page table td:first-child {
  background-color: var(--color-area-black);
}

.stats-page table tr:nth-child(1) td:first-child {
  background-color: gold;
  color: var(--color-area-black);
}

.stats-page table tr:nth-child(2) td:first-child {
  background-color: silver;
  color: var(--color-area-black);
}

.stats-page table tr:nth-child(3) td:first-child {
  background-color: coral;
  color: var(--color-area-black);
}

/* FORM */

.stats-page form {
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--color-area-grey);
  color: var(--color-details-white);
}

.stats-page form input {
  margin: 0 5px;
  border: none;
  border-bottom: 2px solid var(--color-area-black);
  background-color: transparent;
  color: var(--color-details-white);
  font-size: 16px;
}